include COPYRIGHT
include INSTALL
include LICENSE
include README
recursive-include doc *
recursive-include test *.xml *.py
recursive-exclude * *~
recursive-exclude * .cvsignore
recursive-exclude * *.tap
prune CVS
prune doc/website
